<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="Joke Butler, Joke, Jokes, recommender system, recommendation, social navifation" />
	<meta name="description" content="F13 SI694 Project 2 - Recommender System - Joke Butler" />
	<title>Joke Butler - Jokes Recommender System</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Jolly+Lodger&effect=shadow-multiple' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
</head>
<body onload="">
	
	<div id="fb-root"></div>
	<script>
	  // Additional JS functions here
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '701530443205317', // App ID
	      channelUrl : '//localhost:8888/static/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });

	    // Additional init code here

	  };

	  // Load the SDK asynchronously
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	 
	 
	 function fb_login(){
		 FB.login(function(response) {
	 		 if (response.authResponse){
				 FB.api('/me', function(response) {
	 			 user_name = response.name;
				 user_id = response.id;
				 
				 $('.account').html('<a href="#" title="logout" onclick="fb_logout(); return false"><i class="fa fa-sign-out"></i><h5>'+ user_name +'<h5></a>');
				 current_title = $('.round h2').html();
				 $('.round h2').html('Loading personal recommendations...')
					
					$.ajax({
						type:'POST',
						url:'/checkuser',
						data: {userid:user_id,}
					}).done(function(data){
						if(data == 'Yes'){
							window.location.reload();
						}else{
							setTimeout(function(){
								$('.round h2').html('No user record found, keep rating to rock.');
								setTimeout(function(){
									$('.round h2').html(current_title);
								}, 1000);
							}, 1000);
						}
					});
				 
	 			 });
	 		    }else{
	 		      console.log('User cancelled login or did not fully authorize.');
	 		    }
		 });
	 }
	 
	 function fb_logout(){
		 FB.logout(function(response) {
			 console.log("logout");
			 user_id = null;
			 $('.account').html('<a href="#" title="login" onclick="fb_login(); return false"><i class="fa fa-facebook-square"></i><h5>FB Login</h5></a>');
		 });
	 }
	   
	</script>
	
	<div id="container">
		
		<h1 class="font-effect-shadow-multiple">Joke Butler</h1>
		<div class="round">
			{% if round %}
			<h2>Round {{ round }}: Top 5 jokes recommended</h2>
			{% else %}
			<h2>Round 0: Rate 5 jokes to get recommendations</h2>
			{% endif %}
			<div id="progress"><div class="bar"></div><h3>0 / 5</h3></div>
		</div>
		<ul class="jokes animation">
			{% autoescape false %}
			{% for joke in jokes%}
				<li joke={{joke[0]}}>{{ joke[1] }}
					<ul class="rates"><li class="r1"><h4>UCK!</h4></li><li class="r2"></li><li class="r3"><h4>Meh.</h4></li><li class="r4"></li><li class="r5"><h4>LMAO</h4></li></ul>
				</li>
			{% endfor%}
			{% endautoescape %}
		</ul>
		
		<div class="intro"><i class="fa fa-question-circle"></i></div>
		<div class="account">
			{% if user %}
			<a href="#" title="logout" onclick="fb_logout(); return false"><i class="fa fa-sign-out"></i><h5>{{ user['name'] }}<h5></a>
			<script type="text/javascript" charset="utf-8">user_id = {{ user['id'] }};</script>
			{% else %}
			<a href="#" title="login" onclick="fb_login(); return false"><i class="fa fa-facebook-square"></i><h5>FB Login</h5></a>
			<script type="text/javascript" charset="utf-8">user_id = null;</script>
			{% endif %}
		</div>
		
		<div class="content">
			<h2>Welcome to Joke Butler</h2>
			<p>Feeling down? Rough day at work? Your cat got a bit too catty? The Joke Butler is here to brighten your day!</p></br>

			<p>If you are new to the system, please log-in with the button up in the top right of this system.</p></br>

			<p>You will be given 5 jokes to start. Read them, and tell us what you think. Boring? Meh? So funny you needed a second to recover? Let us know!</p></br>

			<p>Always here to please, the Joke Butler will then take your ratings and determine what other jokes you may like. Each round, the Joke Butler will give you 5 jokes. Based on what ratings you give these jokes, he'll find 5 new jokes that may be a better fit for your appetite.</p><br/>

			<p>The more jokes you rate, the better the Butler will get! So, what are you waiting for? Lets get laughing!</p>
			
<!-- 			
			<p>Joke Butler is a joke recommendation system. If you are new to this system, please log in with your Facebook Account, go through the five “onboarding” jokes, tell us how hilarious they are by clicking the five expressions under each joke, and we will present you with multiple rounds of five recommended jokes. The more jokes you evaluate, the better we could understand your appetite.</p> -->
			<div class="goback">
				<h4>GO!</h4>
			</div>
		</div>
		
		<div class="introframe">
			<div class="introcontent">
				
			</div>
		</div>
	</div>
	

	
	<script type="text/javascript" charset="utf-8">
		jokes_count = {{ jokescount }};
		ratings = {};
		{% if ratings %}
			{% for rating in ratings %}
			ratings[{{ rating }}] = {{ ratings[rating] }}
			{% endfor %}
			console.log(ratings);
		{% endif%}
	</script>
	<script type="text/javascript" charset="utf-8" src="/static/js/main.js"></script>
</body>
</html>
